:root {
    --bold-font: Impact;
    --normal-font: sans-serif;
    --red-color: #ff4655;
    --blue-color: #1c242e;
    --white-color: #ece8e1;

}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--white-color);
    margin: 0;
    padding: 0;
}

.tribute-name{
    font-size: 2rem;
    font-family: var(--bold-font);
    text-align: LEFT;
    background-color: #111111;
    color: var(--red-color);
    margin: 0;
    padding: 1rem 1rem;
    width: 100%;
    height: 4rem;
    position: fixed;
    letter-spacing: 3px;
}

.reyna-img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    max-height: 50rem;
    min-height: 50rem;
    min-width: 35rem;
}

.first-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding: 0 10rem;
    background-image: url(https://scontent.fpag2-1.fna.fbcdn.net/v/t39.30808-6/271651901_106003971978495_9149785314236145268_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=783fdb&_nc_ohc=wcTg6LmmhskAX_RmaFG&_nc_ht=scontent.fpag2-1.fna&oh=00_AfCFkyOiw8rL3jKN5LCt8SYO_6Eo6OfauzgvEUto9iBSgw&oe=65D9B50E);
}

.second-container {
    padding: 10rem 0 10rem 5rem;
}

.first-container {
    padding-top: 5rem;
}

.first-container, .second-container {
    width: 50%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px) {
    .first-container,
    .second-container {
      width: 100%;
    }
    .second-container {
        padding: 5rem 0 5rem 5rem;
    }
  }

.role-text, .description {
    font-family: var(--normal-font);
    font-weight: bold;
    color: var(--white-color);
    font-size: 1rem;
}

.role-text {
    font-size: 1.5rem;
}

.role-text img {
    width: 1rem;
    margin-right: 0.5rem;
}

.reyna-text {
    font-family: var(--bold-font);
    font-size: 5rem;
    margin: 0;
    color: var(--red-color);
    letter-spacing: 2px;
}

a {
    color: var(--red-color);
    margin-top: 2rem;
    display: flex;
    font-family: var(--bold-font);
    font-size: 1.5rem;
    width: 8rem;
}

a:hover {
    color: var(--white-color)
}

.third-container {
    width: 100%;
    padding: 7rem 10rem;
}

.special-abilities-text {
    font-family: var(--bold-font);
    font-size: 3rem;
    color: var(--blue-color);
    width: 100;
}

.skills-container {
    display: flex; 
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap; 
    width: 100%; 
}
  
.skills-container img {
    width: 10rem;
    margin: 1rem;
    background: var(--blue-color);
    padding: 1rem;
    border-radius: 36%;
}

.skill-Q, .skill-E, .skill-C, .skill-X {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 2rem;
}

.skill-description {
    width: 40%;
    min-width: 20rem;    
    color: var(--blue-color);
    font-family: var(--normal-font);
    font-weight: bold;
}

.skill-description h1 {
    font-family: var(--bold-font);
    color: var(--red-color);
}